.notification{
  width: 560px;
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 12px 16px;
  border-radius: 20px;
  transition: 0.4s ease-in-out;

  &.success,&.warning{
    top: 100px;
  }

  &.warning{
    background: var(--warning);
  }

  &.success{
    background: #00cf15;
  }
  
  p{
    color: var(--white);
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  }
}

@media (max-width: 600px){
  .notification{
    width: 95%;
  }
}